/* Universal styles */

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    background-color: #2C74B3;
    color: #0A2647;
}

/* Intro section */

.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro h1 {
    font-size: 70px;
    margin: 40px 0 30px;
}

.loading-text {
    font-family: 'Open Tech Mono', monospace;
    font-size: 25px;
    margin: 20px 0;
}

.scroll-ask {
    font-size: 20px;
    margin: 240px 0 0;
}

/* Description section */

.description {
    margin: 20px 40px 0;
}

h2 {
    font-size: 30px;
    margin: 20px 0 10px;
}

.about {
    display: flex;
    flex-direction: row;
}

.about p {
    font-size: 25px;
    line-height: 1.5;
}

.avatar {
    height: 400px;
    width: 400px;
}

/* Toolset section */

.toolset {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
    text-align: center;
}

h3 {
    font-size: 25px;
    margin: 15px 0;
}

/* Grids */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.grid p {
    font-weight: 600;
    font-size: 16px;
    color: white;
}

/* Project section */

.projects {
    margin: 20px 40px;
}

.projects h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.pj-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.item {
    padding: 15px;
    color: white;
    background-color: rgb(60, 198, 198);
    border-radius: 15px;
}

.item p {
    line-height: 1.5;
}

.other {
    background-color: rgb(219, 219, 37);
}

button {
    background-color: #0A2647;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

button a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Footer section */

.footer {
    text-align: center;
    background-color: rgb(26, 27, 33);
    color: white;
    padding: 20px;
    margin-top: 50px;
}

.footer p {
    margin-bottom: 5px;
}

.footer a {
    text-decoration: none;
    color: teal;
}

/* Media queries */

@media (width <= 910px) {

    .description {
        margin: 0 20px;
    }

    h2 {
        font-size: 20px;
    }

    .about {
        flex-direction: column;
        align-items: center;
    }

    .about p {
        font-size: 18px;
    }

    .avatar {
        height: 250px;
        width: 250px;
    }

    .toolset {
        margin: 20px;
    }

    h3 {
        font-size: 18px;
    }

    .projects {
        margin: 20px;
    }

}

@media (width <= 500px) {

    .description {
        margin: 0 8px;
    }

    .about p {
        font-size: 14px;
    }

    .toolset {
        margin: 20px 8px;
    }
    
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .projects {
        margin: 20px 8px;
    }

    .pj-grid {
        grid-template-columns: 1fr;
    }

}